*.iml
.gradle
/local.properties
.idea
/.idea/caches
/.idea/caches/build_file_checksums.ser
/.idea/dictionaries
/.idea/libraries
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/modules.xmlgit rm --cached
/.idea/tasks.xml
/.idea/workspace.xml
.DS_Store
/build
/app/build
/captures
/app/.externalNativeBuild/
/app/.cxx/